/* ADD YOUR CUSTOM CSS TO THIS FILE BELOW */

.bg-primary { background-image: url("sunset.jpeg") !important;
			  background-size: cover;  }

body, html {
  height: 100%;
  font-size: 15px;
  font-family:"Poppins", sans-serif;
  background-color: #faf8f2;
}

#Meg {
    font-family: "Gluten", cursive;
    text-shadow: 1px 1px 10px lightgray;
}

#description {
    text-shadow: 1px 1px 10px gray;
}

h1,h2 {
    font-family: "Gluten", cursive;
}

h1 {
    font-size: 80px;
    text-shadow: 1px 1px 10px gray;
    font-weight: 800;
}

.btn-light {
    background-color: #b1bfc1; 
    color: white; 
    border: none; 
}

.btn-light:hover {
    background-color: white; 
    color: #b1bfc1; 
    transform: scale(1.05);
}

h2 {
    color: #b1bfc1;
    text-shadow: 1px 1px 10px lightgray;
    font-size: 50px;
    font-weight: 700;
}

.bg-dark {
  background-color: #e5cdc8 !important;
}

body .bg-light {
  background-color: #f4f0e9 !important;
}

.parallax {
  

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  max-width: 1000px;
  margin: auto;
}

.card {
  position: relative;
}

.card-hover-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .card-hover-img {
  opacity: 1;
}

.card:hover .card-hover-off {
  opacity: 0;
}

.card-hover-img{
    display:none;
}
.card:hover .card-hover-off{
    display:none;
}
.card:hover .card-hover-img{
    display:block;
}

#carouselExample {
  max-width: 850px;  /* Set your desired width */
  margin: auto;      /* Center the carousel */
}

#carouselExample .carousel-inner,
#carouselExample .carousel-item,
#carouselExample img {
  height: 600px;     /* Set your desired height */
}

#carouselExample img {
  object-fit: cover; /* Ensures image fills the space without distortion */
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 30px; 
    margin-top: 20px;
}

.icon-link {
    font-size: 2rem;
    color: #333;
    transition: color 0.3s ease;
}

.icon-link:hover {
    color: #b1bfc1;
}
